.top {
	height: 100px
}
.mid {
	height: 600px
}
.mid-top {
	height: 500px
}
.mid-right-top {
	height: 80px
}
.mid-right-mid {
	height: 250px
}
.mid-right {
	height: 150px
}
.top-mid-left {
	height: 50px
}
.mid-right-top-left {
	height: 40px
}
.q {
	height: 200px
}
.w {
	height: 300px
}
.g {
	height: 160px
}